.admin-sidebar-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid var(--text-color1);
    padding-right: 20px;
    .navlink{
        width: 90%;
        padding: 10px;
        display: flex;
        justify-content: center;
        margin: 10px;
        border-bottom: 1px solid var(--text-color1);
        font-weight: bolder;
    }

    .active{
        color: var(--text-color2);
    }
}