.button-container {
    width: 100%;
    letter-spacing: var(--letter-spacing);
    padding: 0.8rem;
    font-size: 15px;
    background-color: var(--text-color1);
    color: var(--background1);
    text-transform: uppercase;
    font-weight: bolder;
    border: 1px solid var(--background1);
    cursor: pointer;
    display: flex;
    justify-content: center;

    &:hover {
        background-color: var(--background1);
        color: var(--text-color1);
        border: 1px solid var(--text-color1);
        transition: var(--transition);
    }

    &.inverted {
        background-color: var(--background1);
        color: var(--text-color1);
        border: 1px solid var(--text-color1);
        
        &:hover {
            background-color: var(--text-color1);
            color: var(--background1);
            border: 1px solid var(--background1);
            transition: var(--transition);
        }
    }
}