.auth-container {
    display: flex;
    flex-direction: column;
    width: 420px;
    margin: 0 auto;

    h3 {
        margin: 10px auto;
    }

    h4 {
        margin: 10px auto;
        text-decoration: underline;
    }

    .container{
        display: flex;
        justify-content: space-between;
    }
}

.email-verfication-contianer {

}